{% extends "base.html" %}

{% block title %}Nuevo Material{% endblock %}

{% block content %}

<h1 class="mb-4">Nuevo Material</h1>

<div class="card shadow-sm col-md-6">
  <div class="card-body">

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" value="{{ material.nombre|default:'' }}" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select name="categoria" class="form-select" required>
  {% for categoria in categorias %}
    <option value="{{ categoria.id }}"
      {% if material.categoria.id == categoria.id %}selected{% endif %}>
      {{ categoria.nombre }}
    </option>
  {% endfor %}
</select>
      </div>

      <div class="mb-3">
        <label class="form-label">Unidad</label>
        <input type="text" name="unidad" class="form-control" value="{{ material.unidad|default:'' }}" required>
      </div>

      <div class="d-flex justify-content-end gap-2">
        <a href="{% url 'inventario:material_list' %}" class="btn btn-secondary">
          Cancelar
        </a>
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
