<h1>{% if material %}Editar{% else %}Nuevo{% endif %} Material</h1>

<form method="post">
  {% csrf_token %}

  <label>Nombre</label><br>
  <input type="text" name="nombre" value="{{ material.nombre|default:'' }}" required><br><br>

  <label>Categoría</label><br>
  <select name="categoria" required>
    {% for cat in categorias %}
      <option value="{{ cat.id }}"
        {% if material and material.categoria.id == cat.id %}selected{% endif %}
      >
        {{ cat.nombre }}
      </option>
    {% endfor %}
  </select><br><br>

  <label>Unidad</label><br>
  <input type="text" name="unidad" value="{{ material.unidad|default:'' }}" required><br><br>

  <button type="submit">Guardar</button>
</form>
