<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inventario{% endblock %}</title>
</head>
<body>

<header>
    <h2>Inventario IDF</h2>
    <p>Usuario: {{ request.user.username }}</p>
    <a href="{% url 'usuarios:logout' %}">Salir</a>
    <hr>
</header>

<nav>
  <ul>
    {% if perms.inventario.view_material %}
      <li><a href="{% url 'inventario:material_list' %}">Materiales</a></li>
    {% endif %}

    {% if perms.inventario.view_movimiento %}
      <li><a href="{% url 'inventario:movimiento_list' %}">Movimientos</a></li>
    {% endif %}

    {% if perms.inventario.add_movimiento %}
      <li><a href="{% url 'inventario:movimiento_create' %}">Nuevo movimiento</a></li>
    {% endif %}

    {% if not perms.inventario.add_material %}
      <p><em>No tienes permisos para crear materiales.</em></p>
    {% endif %}

  </ul>
</nav>


<hr>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>

<style>
.card {
    border: 1px solid #ccc;
    padding: 15px;
    min-width: 150px;
}
</style>

